body{
    background-color: tomato;
    display: flex;

}

.circles{
    background-color: aqua;
    border-radius: 50%;
    position: relative;
    z-index: -4;
}

.squares{
    background-color: rgb(223, 6, 6);
    height: 4em;
    width: 4em;
    z-index: 1;
    position: relative;
    right: 200px;
}

footer{
    background-color: dimgrey;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-content: flex-star;
}

@media (max-height: 480px), (max-width: 320px) {
    body{
        background-color: rgb(41, 1, 65);
    }
}

@media (min-height: 1024px), (min-width: 768px) {
    body{
        background-color: darkgreen
    }    
}

section{
    border: solid black 1px;
    display: flex; 
    justify-content: center;
    padding: 40px;
    height: 10vh;
    width: 10vw;
    background-color: lemonchiffon;
    top: 1em;
    z-index: -4;
    position: relative;
}

div{
    display: flex;
}

